<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ironhack - spider</title>
  </head>
  <body>
    <section data-markdown="<%= @unit %>"  
      data-separator="^\n\n\n"  
      data-separator-vertical="^\n\n"  
      data-separator-notes="^Note:"  
      data-charset="utf-8">
      <%= @content %>
    </section>

    <!-- Include reveal.js and configure -->
  </body>
</html>
